body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FFF8F0;
}

/*container dùng chung*/
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}